.slot-card {
  margin-bottom: 15px;
}

.pill {
  border-radius: 20px;
  padding: 0px 8px;
  min-width: 3rem;
}

.vac-pill {
  height: 1.2rem;
  font-weight: bold;
  text-align: center;
  font-size: 0.8rem;
}

.pill > p {
  margin: auto;
}

.covishield {
  background-color: DarkSlateBlue;
  color: #fff;
}

.covaxin {
  background-color: DarkOliveGreen;
  color: #fff;
}

.sputnik {
  background-color: Crimson;
  color: #fff;
}

.slot-card-head {
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.mat-badge-content {
  width: 1.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.5rem;
}

.slot-details {
  display: flex;
  flex-wrap: wrap;
}

.detail-pill {
  margin: 5px;
  height: 1.2rem;
  text-align: center;
}

.age-pill {
  background-color: CadetBlue;
  color: #fff;
}

.dose1-pill {
  background-color: Indianred;
  color: #fff;
}

.dose2-pill {
  background-color: Indigo;
  color: #fff;
}

.fee-pill {
  background-color: MediumVioletRed;
  color: #fff;
}
