<div class="slot-card">
    <mat-card class="mat-elevation-z8">
        <div
            [matBadge]="slot.available_capacity"
            matBadgeColor="accent"
            class="pill vac-pill" 
            [ngClass]="slot.vaccine === 'COVAXIN' ? 'covaxin' 
                            : slot.vaccine === 'COVISHIELD' ? 'covishield' 
                            : 'sputnik' ">
        <p>{{ slot.vaccine.toLowerCase()}}</p>
        </div>
        <div class="slot-card-head">
            <mat-card-header>
                <mat-card-title> {{ slot.name }}</mat-card-title>
                <mat-card-subtitle>
                    {{ slot.address + ', ' + slot.block_name + ', ' + slot.district_name + ' - ' + slot.pincode }}
                </mat-card-subtitle>
            </mat-card-header>
        </div>
        <div class="slot-details">
            <div class="pill detail-pill age-pill">
                <p>Age: {{ slot.min_age_limit}}+ </p>
            </div>
            <div class="pill detail-pill dose1-pill">
                <p>Dose 1: {{ slot.available_capacity_dose1 }}</p>
            </div>
            <div class="pill detail-pill dose2-pill">
                <p>Dose 2: {{ slot.available_capacity_dose2 }}</p>
            </div>
            <div class="pill detail-pill fee-pill">
                <p>Fee: {{ slot.fee_type === 'free' ? slot.fee_type : slot.fee }}</p>
            </div>
        </div>
    </mat-card>
</div>