.slot-card {
  margin-bottom: 15px;
}

.pill {
  border-radius: 20px;
  font-weight: bold;
  width: 4rem;
  height: 1.1rem;
  text-align: center;
  font-size: 0.6rem;
  padding: 0px;
}

.pill > p {
  margin: auto;
}

.covishield {
  background-color: DarkSlateBlue;
  color: #fff;
}

.covaxin {
  background-color: DarkOliveGreen;
  color: #fff;
}

.sputnik {
  background-color: Crimson;
  color: #fff;
}

.slot-card-head {
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.slot-card-head > .pill {
  grid-row: 1 / span 2;
}

.mat-badge-content {
  width: 1.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.5rem;
}
